@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(206, 209, 224);
  font-family: "Montserrat", "Inter" ;
}

body::-webkit-scrollbar {
display: none;
}

body {
-ms-overflow-style: none;
scrollbar-width: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
  background-color: #161616;
  color: white;
}

header .site-logo {
  color: rgb(205, 205, 205);
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  margin-left: 1em;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 15px;
}

.fancy > span {
  display: inline-block;
  transition: transform 350ms ease;
}

.fancy:hover > span:nth-child(1) {
  transform: translate(-80%, 60%) rotate(8deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(2) {
  transform: translate(-40%, 20%) rotate(4deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(3) {
  transform: translate(-10%, 60%) rotate(-6deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(4) {
  transform: translate(0%, 8%) rotate(-8deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(5) {
  transform: translate(0%, 100%) rotate(5deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(6) {
  transform: translate(0%, 20%) rotate(-3deg);
  transition-duration: 800ms;
  scale: 1.5;
  color: #E17654;
}
.fancy:hover > span:nth-child(7) {
  transform: translate(0%, 100%) rotate(-5deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(8) {
  transform: translate(0%, 15%) rotate(10deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(9) {
  transform: translate(0%, -50%) rotate(8deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(10) {
  transform: translate(0%, 15%) rotate(-6deg);
  transition-duration: 800ms;
}
.fancy:hover > span:nth-child(11) {
  transform: translate(50%, -10%) rotate(-3deg);
  transition-duration: 800ms;
}

header a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

header button {
  cursor: pointer;
  transform: scale(0.6);
  transition: all 0.5s ease-in-out;
  font-weight: bold;
  font-size: large;
}

header:hover button {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

header .login-icon {
  height: 18px;
  width: 18px;
}

header .login-link {
  display: inline-flex;
  align-items: center;
}

nav {
  display: flex;
  padding-right: 2em;
}

main {
  margin-bottom: 84px;
}

footer {
  background-color: #161616;
  color: #AAAAAA;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: white;
  padding: 45px 23px;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 100%;
  margin-top: 27px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.home-container a:hover {
  transition: all .5s ease-in-out;
  background-color: rgb(232, 96, 81);
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 10px 16px 20px 10px rgba(0, 0, 0, 0.19);

}


/*** ABOUT PAGE ***/
.about-hero-image {
  max-width: 100%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

.about-page-container > img {
  width: 100%;
  height: 23vh;
  object-fit: cover;
  opacity: 0.8;
  filter: brightness(20%);
}


/*** car PAGES ***/
.car-list-container {
  padding-inline: 23px
}

.car-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.car-list-filter-buttons > a {
  margin-right: 15px;
}

.car-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 45px;
}

.car-info {
  padding-left: 10%;
}

.car-info ~ i {
  margin-left: 10%;
}

.car-tile a {
  color: #161616;
  text-decoration: none;  
    
}

.car-tile img {
  width: 90%;
  border-radius: 5px;
  
}

.car-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.img-container {
  width: 90%;
  height: 60%;
  display: flex;
  align-items: center;
}

.img-container > img {
  margin-left: 5%;
  padding-left: 5%;
}

.car-tile {
  transition: 0.5s ease-in-out;
}

.car-tile:hover {
  color: #161616;
  text-decoration: none; 
  background-color: #f3f3f3;  
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2), 10px 16px 20px 10px rgba(0, 0, 0, 0.19);
  border-radius: 10px; 
  transition: 0.8s ease-in-out;
}

.car-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #fff7ed;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.car-type:hover {
  color: #FFEAD0;
}

.car-type:focus {
  outline: none;
}

.car-type.selected {
  color: #FFEAD0;
}

.car-type.sport:hover, .car-type.sport.selected {
  background-color: #E17654;
}

.car-type.city:hover, .car-type.city.selected {
  background-color: #115E59;
}

.car-type.luxury:hover, .car-type.luxury.selected {
  background-color: #161616;
}

.car-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='car-type-'] {
  padding: 7px 14px;
}

.car-detail-container {
  padding-inline: 27px;
}

.car-detail-container .back-button {
  color: black;
  text-decoration: none;
}

.car-detail-container .back-button:visited {
  
}

.car-detail-container .back-button span {
  text-decoration: underline;
}

.car-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.car-detail img {
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  margin-block: 47px;
}

.car-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.car-detail > i {
  align-self: flex-start;
}

.car-detail .car-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.car-detail .car-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.car-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

.host-nav {
  display: flex;
  margin-bottom: 30px;
}

.host-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

.host-car-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-cars-list {
  padding-inline: 26px;
}

.host-cars-title {
  padding-inline: 26px;
}

.host-car-single {
  display: grid;
  grid-template-areas: "img title view";
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 5%;
  grid-template-columns: 34% 33% 33%;
}

.host-car-single > img {
  grid-area: img;
  height: 70px;
  border-radius: 5px;
}

.host-car-single > div {
  grid-area: title;
}

.host-car-single > a {
  grid-area: view;
  color: gray;
  font-weight: 600;
}

.host-car-single > a:hover {
  grid-area: view;
  color: rgb(191, 77, 77);
  font-weight: 600;
}

.host-car-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-car-info p {
  margin-block: 10px;
}

.host-car-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.host-car-detail {
  display: flex;
  align-items: center;
}

.host-car-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-car-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-car-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.host-car-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-car-detail-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-car-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-car-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.host-car-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.host-car-detail-info > h4 > span {
  font-weight: 500;
}

.host-car-price {
  font-size: 24px;
  font-weight: 500;
}

.host-car-price > span {
  font-size: 16px;
  color: #4D4D4D;
}

.host-car-detail-image {
  height: 100px;
  border-radius: 5px;
}

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.login-form > button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

.red {
  color: #cc0000;
}

.host-dashboard-earnings {
  background-color: #ebebeb;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host-dashboard-reviews {
  background-color: rgb(228, 228, 228);
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host-dashboard-cars {
  padding: 38px 26px;
}

.host-dashboard-cars > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-cars .host-cars-list {
  padding-inline: 0;
}

.host-income {
  padding-inline: 26px;
  color: #161616;
}

.host-income > p {
  color: #4d4d4d;
}

.host-income > img {
  border-radius: 5px;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 100%;
  max-width: 500px;
}

.host-income .info-header > p {
  color: #4d4d4d;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}

.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

.host-reviews {
  padding-inline: 26px;
  color: #161616;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}
